.container-fluid {
  margin: 0;
  padding: 0 12px;
}

.container-fluid button {
  background-color: rgba(255, 0, 0, 0.853);
}
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.logo {
  height: 20px;
}
.navbar-nav a {
  color: white;
}
.navbar-nav a:hover {
  color: rgba(255, 255, 255, 0.651);
}

.navbar-nav .nav-link.active {
  color: rgba(255, 0, 0, 0.853);
}

.nav-link.active:hover {
  color: rgba(255, 0, 0, 0.613);
}

nav {
  background-color: rgba(0, 0, 0, 0.551);
}
