.container {
  background-color: rgba(0, 0, 0, 0.479);
  padding: 0 0 20px;
  height: 100vh;
  max-width: 100%;
  overflow: auto;
}

.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}

h1 {
  text-align: center;
  font-size: 45px;
  padding: 10px;
  margin: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 35px;
  margin: 0;
}
